body {
    background-color: #ddd;
}

#welcome {
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(60%);
}

#perfil {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    font-weight: bold;
    font-size: large;
}

#anunCreate {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myAnuns {
    padding: 1%;
    margin: 0 auto;
    
}

#anunDelete {
    padding-top: 1%;
    margin: 0 auto;
    
}

.card {
    background-color: #fff;
    margin: 5px;
    display: inline-block;
    width: 18rem;
}