body {
    background-color: #ddd;
}

#welcome {
    cursor: default;
    z-index: -1;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: grayscale(60%);
}

#perfil {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    font-weight: bold;
    font-size: large;
}

#anunCreate {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myAnuns {
    padding-top: 1%;
    
}

#anunDelete {
    padding-top: 1%;
}

#search-delete {
    width: 60%;
    margin: 0 auto;
}

.d-card-list, .my-card-list {
    padding-top: 1%;
}

.card {
    background-color: #fff;
    margin: 5px;
    display: inline-block;
    width: 18rem;
}

.card:hover {
    border-color: #ddd;
}